#container {
    display:flex;
    flex-direction: ;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    
}


.content {
    padding: 22px 22px 22px 22px;
    background-color: red;
    border: solid;

    flex:auto;
}